//Importing SASS files
@import "./variables";
@import "./base";

@import "./components/navbar";
@import "./components/jumbotron";
@import "./components/aboutus";
@import "./components/services";
@import "./components/projectCounters";
@import "./components/feedback";
@import "./components/clients";
@import "./components/contactus";
@import "./components/footer";
